/* 1) OBRIŠI POSTOJEĆU BAZU AKO POSTOJI */
IF DB_ID(N'Projekat') IS NOT NULL
BEGIN
    ALTER DATABASE [Projekat] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [Projekat];
END
GO

CREATE DATABASE [Projekat]
    CONTAINMENT = NONE
    WITH CATALOG_COLLATION = DATABASE_DEFAULT;
GO

BEGIN TRY
    ALTER DATABASE [Projekat] SET COMPATIBILITY_LEVEL = 150;
END TRY BEGIN CATCH END CATCH;
GO

/* režim oporavka */
ALTER DATABASE [Projekat] SET RECOVERY SIMPLE;
GO

USE [Projekat];
GO

SET ANSI_NULLS ON;
SET QUOTED_IDENTIFIER ON;
GO

CREATE TABLE [dbo].[KategorijaOsobe](
    [idKategorijaOsobe] INT IDENTITY(1,1) NOT NULL,
    [naziv] NVARCHAR(100) NOT NULL,
    CONSTRAINT [PK_KategorijaOsobe] PRIMARY KEY CLUSTERED ([idKategorijaOsobe] ASC)
);
GO

CREATE TABLE [dbo].[Osoba](
    [idOsoba] INT IDENTITY(1,1) NOT NULL,
    [ime] NVARCHAR(100) NOT NULL,
    [prezime] NVARCHAR(100) NOT NULL,
    [email] NVARCHAR(100) NOT NULL,
    [idKategorijaOsobe] INT NOT NULL,
    CONSTRAINT [PK_Osoba] PRIMARY KEY CLUSTERED ([idOsoba] ASC)
);
GO

CREATE TABLE [dbo].[Zaposleni](
    [idZaposleni] INT IDENTITY(1,1) NOT NULL,
    [imeZ] NVARCHAR(100) NOT NULL,
    [prezimeZ] NVARCHAR(100) NOT NULL,
    [korisnickoIme] NVARCHAR(100) NOT NULL,
    [sifra] NVARCHAR(100) NOT NULL,
    CONSTRAINT [PK_Zaposleni] PRIMARY KEY CLUSTERED ([idZaposleni] ASC)
);
GO

CREATE TABLE [dbo].[TerminDezurstva](
    [idTerminDezurstva] INT IDENTITY(1,1) NOT NULL,
    [smena] INT NOT NULL,
    CONSTRAINT [PK_TerminDezurstva] PRIMARY KEY CLUSTERED ([idTerminDezurstva] ASC)
);
GO

CREATE TABLE [dbo].[Zaposleni_TerminDezurstva](
    [idZaposleni] INT NOT NULL,
    [idTerminDezurstva] INT NOT NULL,
    [datumDezurstva] DATE NOT NULL,
    CONSTRAINT [PK_Zaposleni_TerminDezurstva] PRIMARY KEY CLUSTERED
        ([idZaposleni] ASC, [idTerminDezurstva] ASC, [datumDezurstva] ASC)
);
GO

CREATE TABLE [dbo].[Oprema](
    [idOprema] INT IDENTITY(1,1) NOT NULL,
    [nazivO] NVARCHAR(100) NOT NULL,
    [cena] DECIMAL(10,2) NOT NULL,
    CONSTRAINT [PK_Oprema] PRIMARY KEY CLUSTERED ([idOprema] ASC)
);
GO

CREATE TABLE [dbo].[Iznajmljivanje](
    [idIznajmljivanje] INT IDENTITY(1,1) NOT NULL,
    [ukupanIznos] DECIMAL(10,2) NOT NULL,
    [vremeOd] DATETIME NOT NULL,
    [idZaposleni] INT NOT NULL,
    [idOsoba] INT NOT NULL,
    CONSTRAINT [PK_Iznajmljivanje] PRIMARY KEY CLUSTERED ([idIznajmljivanje] ASC)
);
GO

CREATE TABLE [dbo].[StavkaIznajmljivanja](
    [idIznajmljivanje] INT NOT NULL,
    [rb] INT NOT NULL,
    [cena] DECIMAL(10,2) NOT NULL,
    [vremeDo] DATETIME NOT NULL,
    [trajanje] INT NOT NULL,
    [iznos] DECIMAL(10,2) NOT NULL,
    [idOprema] INT NOT NULL,
    [kolicina] INT NOT NULL,
    CONSTRAINT [PK_StavkaIznajmljivanja] PRIMARY KEY CLUSTERED
        ([idIznajmljivanje] ASC, [rb] ASC)
);
GO

ALTER TABLE [dbo].[Osoba] WITH CHECK
ADD CONSTRAINT [FK_Osoba_KategorijaOsobe]
FOREIGN KEY ([idKategorijaOsobe]) REFERENCES [dbo].[KategorijaOsobe]([idKategorijaOsobe]);
ALTER TABLE [dbo].[Osoba] CHECK CONSTRAINT [FK_Osoba_KategorijaOsobe];
GO

ALTER TABLE [dbo].[Iznajmljivanje] WITH CHECK
ADD CONSTRAINT [FK_Iznajmljivanje_Osoba]
FOREIGN KEY ([idOsoba]) REFERENCES [dbo].[Osoba]([idOsoba])
ON UPDATE CASCADE;
ALTER TABLE [dbo].[Iznajmljivanje] CHECK CONSTRAINT [FK_Iznajmljivanje_Osoba];
GO

ALTER TABLE [dbo].[Iznajmljivanje] WITH CHECK
ADD CONSTRAINT [FK_Iznajmljivanje_Zaposleni]
FOREIGN KEY ([idZaposleni]) REFERENCES [dbo].[Zaposleni]([idZaposleni])
ON UPDATE CASCADE;
ALTER TABLE [dbo].[Iznajmljivanje] CHECK CONSTRAINT [FK_Iznajmljivanje_Zaposleni];
GO

ALTER TABLE [dbo].[StavkaIznajmljivanja] WITH CHECK
ADD CONSTRAINT [FK_StavkaIznajmljivanja_Iznajmljivanje]
FOREIGN KEY ([idIznajmljivanje]) REFERENCES [dbo].[Iznajmljivanje]([idIznajmljivanje])
ON UPDATE CASCADE;
ALTER TABLE [dbo].[StavkaIznajmljivanja] CHECK CONSTRAINT [FK_StavkaIznajmljivanja_Iznajmljivanje];
GO

ALTER TABLE [dbo].[StavkaIznajmljivanja] WITH CHECK
ADD CONSTRAINT [FK_StavkaIznajmljivanja_Oprema]
FOREIGN KEY ([idOprema]) REFERENCES [dbo].[Oprema]([idOprema])
ON UPDATE CASCADE;
ALTER TABLE [dbo].[StavkaIznajmljivanja] CHECK CONSTRAINT [FK_StavkaIznajmljivanja_Oprema];
GO

ALTER TABLE [dbo].[Zaposleni_TerminDezurstva] WITH CHECK
ADD CONSTRAINT [FK_Zaposleni_TerminDezurstva_TerminDezurstva]
FOREIGN KEY ([idTerminDezurstva]) REFERENCES [dbo].[TerminDezurstva]([idTerminDezurstva])
ON UPDATE CASCADE;
ALTER TABLE [dbo].[Zaposleni_TerminDezurstva] CHECK CONSTRAINT [FK_Zaposleni_TerminDezurstva_TerminDezurstva];
GO

ALTER TABLE [dbo].[Zaposleni_TerminDezurstva] WITH CHECK
ADD CONSTRAINT [FK_Zaposleni_TerminDezurstva_Zaposleni]
FOREIGN KEY ([idZaposleni]) REFERENCES [dbo].[Zaposleni]([idZaposleni])
ON UPDATE CASCADE;
ALTER TABLE [dbo].[Zaposleni_TerminDezurstva] CHECK CONSTRAINT [FK_Zaposleni_TerminDezurstva_Zaposleni];
GO

ALTER TABLE [dbo].[Iznajmljivanje] WITH CHECK
ADD CONSTRAINT [CK_Iznajmljivanje_UkupanIznos] CHECK ([ukupanIznos] > 0);

ALTER TABLE [dbo].[Oprema] WITH CHECK
ADD CONSTRAINT [CK_Oprema_Cena] CHECK ([cena] > 0);

ALTER TABLE [dbo].[Osoba] WITH CHECK
ADD CONSTRAINT [CK_Osoba_Email] CHECK ([email] LIKE '%@%');

ALTER TABLE [dbo].[StavkaIznajmljivanja] WITH CHECK
ADD CONSTRAINT [CK_StavkaIznajmljivanja_Cena] CHECK ([cena] > 0);
ALTER TABLE [dbo].[StavkaIznajmljivanja] WITH CHECK
ADD CONSTRAINT [CK_StavkaIznajmljivanja_Iznos] CHECK ([iznos] > 0);
ALTER TABLE [dbo].[StavkaIznajmljivanja] WITH CHECK
ADD CONSTRAINT [CK_StavkaIznajmljivanja_Kolicina] CHECK ([kolicina] > 0);
ALTER TABLE [dbo].[StavkaIznajmljivanja] WITH CHECK
ADD CONSTRAINT [CK_StavkaIznajmljivanja_Trajanje] CHECK ([trajanje] > 0);

ALTER TABLE [dbo].[TerminDezurstva] WITH CHECK
ADD CONSTRAINT [CK_TerminDezurstva_Smena] CHECK ([smena] BETWEEN 1 AND 3);

ALTER TABLE [dbo].[Zaposleni] WITH CHECK
ADD CONSTRAINT [CK_Zaposleni_Sifra]
CHECK (LEN([sifra]) >= 8 AND [sifra] COLLATE Latin1_General_CS_AS LIKE '%[A-Z]%');
GO
